.show {

  display: block;
}

.hide {
  display: none;

}

 .userPup {

  display: none;
}


/* #createPup {

  display: none;
} */

.dogPound {

  display: none;
}

.dogProfile {
  display: none;

}

.dogpaw {
  display: none;
  width: 45px;

}

.dogPhoto {
  width: 100px;

}

.inline {

  display: inline-block;
}

.sadface {
  display: none;
  width: 45px;
}
